* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background: #dbdbdb;
    color: #333;
    scroll-behavior: smooth;
}

header {
    background: linear-gradient(to right, #36004b, #6800bd);
    color: #fff;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

header h1 {
    font-size: 1.8rem;
    letter-spacing: 1px;
    font-weight: bold;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-weight: 600px;
    transition: color 0.3s;
}

nav a:hover {
    color: #000000;
}

.section {
    padding: 100px 20px 60px;
    max-width: 900px;
    margin: 0 auto;
    text-align: center;
    opacity: 0;
    transform: translateY(50px);
    transition: all 0.8s ease-out;
}

.section.show {
    opacity: 1;
    transform: translateY(0);
}

.produtos-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    margin-top: 40px;
}

.card {
    background: #fff;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.4s, box-shadow 0.4;
    cursor: pointer;
    text-align: center;
}

.card img {
    width: 100%;
    object-fit: cover;
    display: block;
     transition: transform 0.4s ease;
}

.card:hover img {
    transform: scale(1.15); /* aumenta a imagem */
}

.card h3 {
    margin: 16px;
    color: #1e1e2f;
}

.card p {
    margin: 0 16px 16px;
    color: #555;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

.btn-adicionar {
    background-color:#6800bd; 
    font-size: 16px;
    color:white; 
    border:none; 
    padding:10px 15px; 
    margin: 8px;
    border-radius:15px; 
    cursor:pointer;    
}

.btn-adicionar:hover {
    color: black;
}

.tamanho {
    margin: 8px;
}

.cor {
    margin: 8px;
}

#contato {
    background: #fff;
    padding: 80px 20px;
    text-align: center;
}

.subtitle {
    color: #666;
    margin-bottom: 40px;
}

.contact-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    max-width: 300px;
    margin: 0 auto;
}

.contact-card, .social-box {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    text-align: 10px;
    transition: transform 0.3s;
}

.contact-card:hover {
    transform: translateY((-5px));
}

.contact-card {
    display: flex;
    gap: 15px;
    justify-content: center;
}

.contact-card i {
    font-size: 1.5rem;
    color: #36004b;
}

.contact-card h3 {
    font-size: 1rem;
    margin-bottom: 5px;
}

.contact-card a, .contact-card span {
    color: #555;
    font-size: 0.95rem;
}

.social-links {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 15px;
}

.button {
    background-color:#25D366; 
    font-size: 16px;
    color:white; 
    border:none; 
    padding:10px 15px; 
    border-radius:5px; 
    cursor:pointer;
}

footer {
    background: linear-gradient(to right, #36004b, #6800bd);
    color: #fff;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}

@media (max-width: 768px) {
    .contact-grid {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 600px) {
    nav ul {
        flex-direction: column;
        gap: 10px;
    }
}